<div class="container text-center header">
  <h1>Articles Galore</h1>
</div>

<div class="container">
  <h2><%= link_to "Add A New Article", new_article_path, class: "adding" %></h2>

  <hr>

  <% @articles.each do |article| %>
    <h3>
      <%= article.id %>)
      <%= link_to article.title, article_path(article) %>

    </h3>
    <p>
    <%= link_to "Edit Article", edit_article_path(article) %>
    <%= link_to "Delete", article_path(article), method: :delete %>
    <hr>
    </p>
  <% end %>
</div>
